@page
@model BulkyWebRazor_Temp.Pages.Categories.DeleteModel


<form method="post">
    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">Delete category</h2>
            <hr />
        </div>


        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="_category.Name"></label>
            <input asp-for="_category.Name" disabled class="form-control" />

        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="_category.DisplayOrder"></label>
            <input asp-for="_category.DisplayOrder" disabled class="form-control" />

        </div>



        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="Categories/Index"  class="btn btn-outline-secondary border form-control">Back to List</a>
            </div>
        </div>

    
        
    </div>
</form>


